.Swiper {
    text-align: center;
}

.title {
    padding: 10%;
}

.img {
    margin-top: 30px;
    max-width: 800px;
    max-height: 800px;
    border-radius: 20px;
}

.descr {
    padding-top: 30px;
}